/* main css file for all pages*/
*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* header css */
header{
    background-color: #c7c7c7;
    text-align: center;
    display:flexbox;
    min-height: 170px;
}
header img{
    width: 100px;
}
header h1{
    font-size: 3rem;
    color: rgb(6, 6, 67);
}
header h1::after{
    content: "CON";
    color: rgb(54, 173, 212);
}

/* navbar css */
.navbar ul{
    list-style-type: none;
    background-color: #828282;
    text-align: center;
}
.navbar li{
    display: inline-block;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px 90px 10px 90px;
    display: block;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
}
.navbar a:hover{
    background-color: #181818;
}

/*footer css*/
footer{
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
    background-color: #c7c7c7;
}