/*stylemain.css*/

/*adding a background image and wrapping contents of the speakers*/
main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-image: url('images/grey-background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*adjusting format of each speaker's box*/
article{
    width: 30%;
    padding: 20px;
    background-color: #dfdfdf;
}

figure{
    text-align: center;
}
figure img{
    width: 50%;
    height: 50%;
}
figcaption{
    font-size: 15px;
    padding-bottom: 20px;
    font-style: italic;
}

article h2{
    font-size: 1.5rem;
    margin: 15px 0;
}
article p{
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.5;
}
article ul {
    list-style-type:circle;
    margin-left: 15px;
}

article ul li {
    font-size: 16px;
    margin-bottom: 5px;
}